<div style="margin-left: 200px; margin-right: 200px; font-size: 13px">
    <br>
    <h4>Truck Number does not exist!</h4>
    <br>

    <button class="btn btn-secondary btn-sm" style="margin-top: 25px" onclick="window.history.back()">Back</button>
    <br>
    <br>